<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stumbal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040C89BC2601DBFD00671ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040C89D22601DC0000671ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040C89DD2601DC0000671ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
