<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368982895655-lgcn5jec8pp1o0h2gvdt2fev70uuavve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368982895655-lgcn5jec8pp1o0h2gvdt2fev70uuavve</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Kf7INLCevlaWjplKpMQU2sI4lO3wbew</string>
	<key>GCM_SENDER_ID</key>
	<string>368982895655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.offside.stumbal</string>
	<key>PROJECT_ID</key>
	<string>stumbal-c58cf</string>
	<key>STORAGE_BUCKET</key>
	<string>stumbal-c58cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368982895655:ios:d6c617fcb23f94c0017202</string>
</dict>
</plist>